{% extends '@HWIOAuth/layout.html.twig' %}

{% block fos_oauth_social_connect_content %}
    <h3>{{ 'header.registration_success' | trans({'%username%': app.user.username}, 'HWIOAuthBundle') }}</h3>
{% endblock fos_oauth_social_connect_content %}
